In [3]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.2.4-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rishita\desktop\data-visualization-project\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\rishita\desktop\data-visualization-project\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.2.4-cp312-cp312-win_amd64.whl (12.6 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

# Read the CSV data
df = pd.read_csv("./Data/yearwise_AgeDemographics.csv")
df

,Year,FTAs,0-14,15-24,25-34,35-44,45-54,55-64,65 and Above,Not Reported
0,2001,2537282,7.0,10.8,20.1,21.1,19.4,11.9,6.7,3.0
1,2002,2384364,9.2,10.0,19.4,21.6,19.4,11.5,7.7,1.2
2,2003,2762214,7.2,10.0,19.5,21.6,19.4,11.5,7.7,3.1
3,2004,3457477,8.5,9.8,18.8,21.3,19.4,12.8,8.2,0.2
4,2005,3918610,8.6,9.6,18.8,21.3,19.5,13.0,8.7,0.5
5,2006,4447167,9.6,8.7,18.3,21.4,19.6,13.5,7.0,1.9
6,2007,5081504,9.2,8.6,18.0,21.0,19.6,13.9,7.5,2.2
7,2008,5282603,7.5,7.1,15.2,17.1,16.1,11.9,6.5,18.6
8,2009,5167699,9.1,7.9,17.9,20.3,19.6,14.7,8.5,2.0
9,2010,5775692,10.0,8.3,17.4,21.1,19.9,13.8,9.5,0.0
10,2011,6309222,10.5,7.9,16.6,21.2,19.7,13.7,10.5,0.0
11,2012,6577745,11.0,8.0,16.5,21.0,19.8,13.9,9.9,0.0
12,2013,6967601,9.5,8.7,19.1,21.0,20.0,14.0,7.7,0.0
13,2014,7697099,9.2,8.5,18.9,21.0,20.1,14.0,8.3,0.0
14,2015,8027133,9.4,8.5,19.2,21.2,20.0,13.8,7.9,0.0
15,2016,8804411,9.5,8.5,19.2,21.1,19.9,13.8,8.1,0.0
16,2017,10035803,9.4,8.5,19.1,21.1,19.9,13.8,8.2,0.0
17,2018,10557976,9.3,8.4,18.6,21.0,19.8,14.2,8.7,0.0
18,2019,10930355,9.2,8.3,18.6,21.3,19.8,14.1,8.8,0.0
19,2020,2744766,7.7,7.7,18.4,20.2,19.7,15.6,10.7,0.0
20,2021,1527114,13.6,8.4,15.8,21.0,21.8,13.0,6.4,0.0
21,2022,6437467,13.6,8.3,15.7,21.3,20.4,12.9,7.8,0.0
22,2023,9502928,11.0,8.1,16.6,21.2,20.1,14.0,9.0,0.0

In [6]:
# Extract age groups (all columns except Year and FTAs)
age_groups = df.columns[2:]

# Create a new DataFrame with age_labels as the index
age_data = pd.DataFrame({'age_labels': age_groups})
age_groups, age_data

(Index(['0-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65 and Above',
        'Not Reported'],
       dtype='object'),
      age_labels
 0          0-14
 1         15-24
 2         25-34
 3         35-44
 4         45-54
 5         55-64
 6  65 and Above
 7  Not Reported)

In [7]:
# Add year columns with actual visitor counts
for _, row in df.iterrows():
    year = int(row['Year'])
    ftas = row['FTAs']
    
    # Calculate actual visitor counts for each age group based on percentage
    for age_group in age_groups:
        percentage = row[age_group]
        visitor_count = int(round((percentage / 100) * ftas))
        age_data.loc[age_data['age_labels'] == age_group, str(year)] = visitor_count

age_data

,age_labels,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0-14,177610.0,219361.0,198879.0,293886.0,337000.0,426928.0,467498.0,396195.0,470261.0,...,708133.0,754551.0,836419.0,943365.0,981892.0,1005593.0,211347.0,207688.0,875496.0,1045322.0
1,15-24,274026.0,238436.0,276221.0,338833.0,376187.0,386904.0,437009.0,375065.0,408248.0,...,654253.0,682306.0,748375.0,853043.0,886870.0,907219.0,211347.0,128278.0,534310.0,769737.0
2,25-34,509994.0,462567.0,538632.0,650006.0,736699.0,813832.0,914671.0,802956.0,925018.0,...,1454752.0,1541210.0,1690447.0,1916838.0,1963784.0,2033046.0,505037.0,241284.0,1010682.0,1577486.0
3,35-44,535367.0,515023.0,596638.0,736443.0,834664.0,951694.0,1067116.0,903325.0,1049043.0,...,1616391.0,1701752.0,1857731.0,2117554.0,2217175.0,2328166.0,554443.0,320694.0,1371180.0,2014621.0
4,45-54,492233.0,462567.0,535870.0,670751.0,764129.0,871645.0,995975.0,850499.0,1012869.0,...,1547117.0,1605427.0,1752078.0,1997125.0,2090479.0,2164210.0,540719.0,332911.0,1313243.0,1910089.0
5,55-64,301937.0,274202.0,317655.0,442557.0,509419.0,600368.0,706329.0,628630.0,759652.0,...,1077594.0,1107744.0,1215009.0,1384941.0,1499233.0,1541180.0,428183.0,198525.0,830433.0,1330410.0
6,65 and Above,169998.0,183596.0,212690.0,283513.0,340919.0,311302.0,381113.0,343369.0,439254.0,...,638859.0,634144.0,713157.0,822936.0,918544.0,961871.0,293690.0,97735.0,502122.0,855264.0
7,Not Reported,76118.0,28612.0,85629.0,6915.0,19593.0,84496.0,111793.0,982564.0,103354.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Save the transformed data
age_data.to_csv('transformed_tourism_age_data.csv', index=False)